#conclusion {
    margin-top: 3rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-weight: 400;
        font-size: 2rem;
    }

    p {
        margin-top: 1.5rem;
        line-height: 1.8;
    }
}