#hero {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
    height: 65vh;
    width: 100%;

    #outer-container {
        display: flex;
        justify-content: center;
        height: inherit;

        #inner-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                color: white;
                font-size: 3.5rem;
                text-align: left;
                width: 50%;
                line-height: 1;
                margin: 2rem;
            }
        }
    }
}